extends TemplateDialog
block buttons
    button.btn.btn-success(type="submit", ng-click="resultButtonPressed(1)") Ok
    button.btn.btn-default(type="submit", ng-click="resultButtonPressed(0)") Отмена