style.
    .form-horizontal {
        display: grid;
        margin-bottom: 0;
        width: 100%;
    }
    .form-horizontal .btn {
        margin-left: 15px;
    }
    #mask {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1020;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    #modalBox {
        border-top: 3px solid;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        border-top-color: #64b8df;
        padding: 15px 5px 10px 5px;
        background-color: #fff;
        z-index: 2000;
        width: 450px;
        margin: auto;
        margin-top: 150px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
    }
    #modalBox h3 {
        font-weight: 500;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 24px;
        padding-left: 15px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .col-sm-12 {
        width: 100%;
        float: left;
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-3 {
        width: 25%;
        float: left;
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-9 {
        width: 75%;
        float: left;
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
    }
    .control-label {
        text-align: right;
        padding-right: 5px;
        padding-top: 7px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.42857143;
        color: #333;
    }
    @media only screen and (max-device-width: 480px) {
        #modalBox {
            width: 100%;
        }
    }
    input:required {
        box-shadow: 0 0 20px rgba(200, 0, 0, 0.85);
    }
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .col-sm-12.btns {
        text-align: right;
    }

    /*--------------------LoocupDialog---------------------*/

    .search-bloc {
        height: 250px;
        overflow-y: scroll;
        margin-bottom: 15px;
    }
    .search-bloc .form-control {
        margin-bottom: 20px;
    }
    .search-bloc li a {
        cursor: pointer;
    }
    .search-bloc li {
        display: block;
        padding-left: 15px;
        line-height: 23px;
        border: 1px solid #777;
        margin-top: -1px;
    }

    .form-group {
        height: 34px;
    }