extends TemplateDialog
block controls
    style.
        @media only screen and (max-device-width: 480px) {
            #modalBox {
                margin-top: 0;
                height: 100%;
            }
            .btns {
                position: absolute;
                bottom: 10px;
            }
            .ctrl {
                overflow-y: scroll;
                margin-top: 15px;
                padding-top: 10px;
                height: calc(100% - 100px);
            }

        }
    div.form-group.row(ng-repeat="control in controls")
        label.col-sm-3.control-label {{control.label}}
        div.col-sm-9
            input.form-control(ng-if="control.type != 'select' && control.type != 'textarea'", type="{{control.type}}", ng-model="control.model", placeholder="{{control.placeholder}}", ng-required="control.required")
            select.form-control(ng-if="control.type == 'select'", ng-model="control.model" ng-required="control.required")
                option(ng-repeat="option in control.options", value="{{option.Id}}") {{option.Name}}
            textarea.form-control(ng-if="control.type == 'textarea'", resize="vertical"  rows="{{control.rows}}"  ng-model="control.model" ng-required="control.required")
block buttons
    button.btn.btn-success(type="submit", ng-click="resultButtonPressed(1)", ng-disabled="getDisabled(DialogForm.$invalid)") Ok
    button.btn.btn-default(type="submit", ng-click="resultButtonPressed(0)") Отмена
