extends TemplateDialog
block controls
    div.search-bloc
        input.form-control(type="search" ng-model="q" placeholder="отфильтруйте список...")
        li.list-group-item(style="{{item.selected}}" ng-repeat="item in items | filter:q as results" ng-click="selectItem(item)")
            a {{item.Name || item.Name}}
        li.list-group-item(ng-if="results.length === 0")
            strong Нет совпадений...
block buttons
    button.btn.btn-success(type="submit", ng-click="resultButtonPressed(1)", ng-disabled="getDisabled(DialogForm.$invalid)") Ok
    button.btn.btn-default(type="submit", ng-click="resultButtonPressed(0)") Отмена