include DialogStyles
form.form-horizontal(name="DialogForm")
    div.form-group.row
        H3.col-sm-12 {{message}}
    div.ctrl
        block controls
    div.form-group.row
        div.col-sm-12.btns
            block buttons
