extends ./template/main
include ./template/detail
block content-box
    style.
        #map {
            height: 400px;
            width: 100%;
            background-image: url(/images/map.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            text-align: center;
        }
        #map button {
            margin: 170px 50px;
            font-size: 25px;
            background-color: #5cb85c;
            border-radius: 4px;
            border: 0;
            padding: 10px;
            font-style: italic;
            width: 155px;
        }
        #youtube-video {
            max-height: 360px;
            min-height: 200px;
            height: 678px;
            position: relative;
            background-size: cover;
        }
        .ytp-button {
            cursor: pointer;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 68px;
            height: 48px;
            margin-left: -34px;
            margin-top: -24px;
        }
        @media only screen and (max-device-width: 480px) {
            #map button {
                margin: 80px 50px;
            }
        }

    div.ivent-page(ng-controller="IventPageCtrl", recordName=record.Name)
        div.ivent-page-menu
    #youtube-video(style="background-image:url(\"" + record.ImageUrl + "\")")
        svg.ytp-button(height="100%" version="1.1" viewBox="0 0 68 48" width="100%" ng-click="loadYouTube()")
            path(d="m .66,37.62 c 0,0 .66,4.70 2.70,6.77 2.58,2.71 5.98,2.63 7.49,2.91 5.43,.52 23.10,.68 23.12,.68 .00,-1.3e-5 14.29,-0.02 23.81,-0.71 1.32,-0.15 4.22,-0.17 6.81,-2.89 2.03,-2.07 2.70,-6.77 2.70,-6.77 0,0 .67,-5.52 .67,-11.04 l 0,-5.17 c 0,-5.52 -0.67,-11.04 -0.67,-11.04 0,0 -0.66,-4.70 -2.70,-6.77 C 62.03,.86 59.13,.84 57.80,.69 48.28,0 34.00,0 34.00,0 33.97,0 19.69,0 10.18,.69 8.85,.84 5.95,.86 3.36,3.58 1.32,5.65 .66,10.35 .66,10.35 c 0,0 -0.55,4.50 -0.66,9.45 l 0,8.36 c .10,4.94 .66,9.45 .66,9.45 z" fill="#1f1f1e" fill-opacity="0.81")
            path(d="m 26.96,13.67 18.37,9.62 -18.37,9.55 -0.00,-19.17 z" fill="#fff")
            path(d="M 45.02,23.46 45.32,23.28 26.96,13.67 43.32,24.34 45.02,23.46 z" fill="#ccc")
        a(ng-click="loadYouTube()")
    p(style="text-indent: 2.5em;text-align: justify;") #{record.Body}
    div.fb-like(data-href="{{IventUrl}}" data-width="350" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true")

    +detail("song-detail")
    +detail("user-detail")

    h4(style="text-align: center") Адреса
    #map(address=record.Address address2=record.Address2)
        button(ng-click="renderMap(\"" + record.Address + "\")") Репетиция
        button(ng-click="renderMap(\"" + record.Address2 + "\")") Служение

