extends ./template/main
include ./template/detail
block content-box
    style.
        .controll {
            margin-bottom: 15px;
        }
        .controll span {
            width: 150px;
            display: inline-block;
            vertical-align: top;
        }
        .controll input, .controll textarea {
            min-width: 500px;
        }

        .song-controls {
            position: relative;
        }

        .song-controls .btn {
            position: absolute;
            right: 8px;
            height: 36px;
            z-index: 10;
        }

        .song-controls .save-button {
            margin-top: -35px;
        }
    div.category-section(ng-controller="JsonPageCtrl")
        div.song-header
            div.song-controls
                .btn.save-button.svg-btn(ng-if="currentUser.CanEdit" ng-click="saveJson()") L
        br
        div.controll
            span Заголовок
            input(ng-model="sectionName" placeholder="Заголовок")
        br
        div(ng-if="!detail.entitys")
            h3 Настройки выборки
            div.controll
                span Название схемы
                input(ng-model="detail.schemaName" placeholder="Название схемы")
            +detail("colums-detail")
            +detail("filters-detail")
            br
            h3 Запреты на операции
            div.controll
                span Запрет на добавление
                input(ng-model="detail.cantAdd" type="checkbox")
            div.controll
                span Запрет на изменение
                input(ng-model="detail.cantEdit" type="checkbox")
            div.controll
                span Запрет на удаление
                input(ng-model="detail.cantDelete" type="checkbox")
        div(ng-if="!!detail.entitys")
            +detail("entitys-detail")
