extends ./template/main
include ./template/detail
block content-box
    style.
        .youtube-video {
            max-height: 360px;
            min-height: 200px;
        }
        .audio-container audio {
            width: 100%;
        }
        .song-info {
            padding: 15px;
            background-color: rgba(85, 85, 85, 0.5);
            margin-top: 15px;
        }
        .song-info .song-order {
            white-space: pre;
        }

        .song-controls {
            position: relative;
        }

        .song-controls .btn {
            position: absolute;
            padding: 3px 6px;
            right: 5px;
            height: 36px;
            width: 40px;
            z-index: 10;
        }

        .song-controls button img {
            width: 26px;
        }

        .song-controls .btn.btn-default {
            color: black;
        }

        .song-controls .btn {
            color: white;
        }
        .song-controls .print-btn {
            margin-top: -40px;
            font-size: 25px;
        }
        .song-controls .btn-edit {
            margin: -35px 45px 0 0;
        }
        .detail[config="song-detail"] .list-group-item {
            background-color: transparent;
        }
        .song-chords p {
            color: red;
        }
        .song-text p {
            font-style: italic;
        }
        .song-chords p, .song-text p {
            white-space: pre-wrap;
            margin-bottom: 0;
            margin-top: 0;
        }

        @media print {
            .no-print {
                display: none !important;
                height: 0;
            }

            .song-page {
                column-count: 2;
                -webkit-column-count: 2;
                -moz-column-count: 2;
            }

            .content-box {
                max-width: 100%
            }

            .card-menu h3 {
                font-size: 40px;
                padding-bottom: 20px;
                color: black;
            }
            .song-page {
                color: black;
            }
        }
    div.song-page(ng-controller="SongPageCtrl" recordName=record.Name, youtube=record.YouTubeUri)
        div.song-header
            div.song-controls.no-print
                .btn.print-btn.svg-btn(ng-click="print()") G
                .btn.btn-edit.svg-btn.svg-btn(ng-if="currentUser.CanEdit" ng-click="setEditMode(entityId)") C
        div.no-print.youtube-video
            iframe(width="100%" height="100%" src="{{YouTubeUri}}" frameborder="0" allowfullscreen)
        div.song-info
            span(style="white-space: pre;") Темп: #{record.Temp}
                a(ng-if="song.multitracks" href=record.Multitracks target="_blank")   MULTITRACKS
            h3 Регламент
            div.song-order #{record.Order}
        div.no-print.audio-container(ng-if=!record.AudioLink)
            h3 Аудио
            audio(src=record.AudioLink controls)
        div.song-header
            div.song-controls.no-print
                button.btn.btn-default(ng-click="changeChordView()" style="top: 15px")
                    img(src="http://download.seaicons.com/icons/iconshock/stringed-instruments/256/Contrabass-icon.png")
                button.btn.btn-default(ng-click="plusTextSize()" style="top: 55px;") +
                button.btn.btn-default(ng-click="minusTextSize()" style="top: 95px;") -
        .song-body
            +detail("song-detail")