extends ./template/main
block content-box
    style.
        .controll {
            margin-bottom: 15px;
        }
        .controll span {
            width: 150px;
            display: inline-block;
            vertical-align: top;
        }
        .controll input, .controll textarea {
            min-width: 500px;
        }

        .song-header, .detail-controls {
            position: relative;
        }

        .song-controls {
            position: absolute;
            right: 35px;
        }

        .song-header .song-controls {
            margin-top: -35px;
        }

        .song-controls button {
            position: absolute;
            padding: 3px 6px;
            right: 5px;
            height: 36px;
            width: 40px;
            z-index: 10;
        }

        .song-controls button img {
            width: 26px;
        }


        .song-controls .add-button {
            margin: 0 15px 0 0;
        }

        .song-controls .delete-btn {
            position: absolute;
            margin-top: -40px;
        }

        #textarea-body {
            color: #000;
        }
        .controll-name {
            color: #fff;
        }

        .controll {
            color: #000;
        }

        .controll p {
            margin: 5px 0;
        }

        .controll p i {
            color: red;
        }
    div.song-page(ng-controller="SongEditPageCtrl" name=record.Name YouTubeUri=record.YouTubeUri Temp=record.Temp Multitracks=record.Multitracks Order=record.Order)
        div.song-header
            div.song-controls
                .btn.add-button.svg-btn(ng-click="addSongPart(song.parts)") B
                .btn.save-button.svg-btn(ng-click="saveSong()") L
        hr
        div.controll
            span.controll-name Название песни
            input(ng-model="song.Name" placeholder="Название песни")
        div.controll
            span.controll-name Код для youtube
            input(ng-model="song.youtubeUri" placeholder="Код для youtube")
        div.controll
            span.controll-name Ссылка на аудио файл
            input(ng-model="song.AudioLink" placeholder="Ссылка на аудио файл")
        div.controll
            span.controll-name Темп
            input(ng-model="song.temp" placeholder="Темп")
        div.controll
            span.controll-name Multitracks
            input(ng-model="song.multitracks")
        div.controll
            span.controll-name Регламент
            textarea(resize="vertical" rows="5"  ng-model="song.order")
        hr
        div.controll
            span.controll-name Тело
            textarea(resize="vertical" id="textarea-body" rows="15"  ng-model="song.Body")
        hr
        div(ng-repeat="item in song.parts")
            h3 {{item.name}}
            .detail-controls
                div.song-controls
                    .btn.delete-btn.svg-btn(ng-click="deleteSongPart(item, song.parts)") D
                    button.btn(ng-click="convert(item)" style="margin: -45px 15px 0 0;")
                        img(src="../../images/convert.png")
            div
                div.controll
                    span Название части песни
                    input.part-name(placeholder="Название части песни" ng-model="item.name")
                div.controll
                    span Аккорды
                    textarea(resize="vertical" rows="5"  ng-model="item.chords")
                div.controll
                    span Аккорды басс
                    textarea(resize="vertical" rows="5"  ng-model="item.bassChords")
                div.controll
                    span Текст
                    textarea(resize="vertical" rows="5"  ng-model="item.text")
            hr
