head
    script(src="/frameworks/ckeditor.js?" + hash)
    script(src="/frameworks/angular.min.js?" + hash)
    script(src="/js/main.js?" + hash)
    link(rel="font/opentype" href="/fonts/NeueCyr.otf")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine")
    style #{style}