.fixed {
  position: fixed;
  top: 0;
}
.fixed-nemu {
  position: fixed;
  top: 42px;
}
.header {
  min-width: 1096px;
  background-color: rgba(12, 12, 12, 0.82);
  height: 142px;
  padding-top: 1px;
  text-align: center;
  width: 100%;
  display: block;
  top: 0;
  z-index: 99;

  & .logo {
    margin: 22px 0 22px 0;
    font: 55px Tangerine;

    & a {
      color: wheat;
      text-decoration: none;
    }
  }

  & .left-container {
    left: 4px;
    height: 42px;
    padding-top: 5px;
    position: absolute;

    & img {
      -webkit-filter: invert(1);
      filter: invert(1);
      width: 26px;
    }
  }
}

.header-menu {
  height: 42px;
  z-index: 99;
  width: 100%;
  background-color: rgb(0, 0, 0);
}


#main-menu {
  vertical-align: middle;
}
#main-menu div {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}
#main-menu div a {
  padding-top: 10px;
  text-align: left;
  height: 30px;
  display: inline-block;
  margin-right: 30px;
  color: wheat;
  text-decoration: none;
  font-style: italic;
}

.left-menu {
  display: none;
}
