html(lang="ru" ng-app="skiniaWorshipApp")

    include ../head/index
    body
        include ../header/index
        .content
            #section-body
                .body
                    h1  Воскресное служение в церкви Скиния
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            #section-songs
                .songs
                    h2 Песни
                    ul
                        li 1. Разбуди Свои Мечты (НОВАЯ!)
                        li 2. Ты над городом этим
                        li 3. Будь Смелым Мой Дух!
            .team
            #section-users
                .users
                    h2 Команда
                    ul
                        li Алёна Лабунская
                        li Андрей Недвецкий
                        li Вика Сиротенко
                        li Давид Карпенко
                        li Руслан Кузнецов
                        li Тима Кирилко
                        li Юлия Михальченко
                        li Юра Могилевский
            #section-map
                .map
        footer
            span World Worship Copyright © 2017.