body {
  margin: 0;
  background-color: aliceblue;
  font-family: 'HelveticaNeueCyr', serif;
}
@font-face {
  font-family: 'skiniiaworship';
  src: url('/fonts/skiniiaworship.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/fonts/NeueCyr.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

header {
  height: 400px;
  background-image: url(/images/Mountains.jpg);
  background-position: center center;
  background-size: cover;
}
.ytp-button {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
}
header {
  position: relative;

}

header .menu {
  bottom: 0;
  position: absolute;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.72) 100%);
  width: 100%;
}

#main-menu {
  vertical-align: middle;
  position: relative;
}

#main-menu div {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

#main-menu div a {
  padding-top: 10px;
  text-align: left;
  height: 30px;
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
  font-style: italic;
  color: #fff;
  text-shadow: 0 0 4px #000;
}

#section-body, #section-songs, #section-users, #section-map {
  max-width: 700px;
  padding: 120px calc(50% - 350px);
}

#section-songs, #section-map {
  background-color: #fff;
}

#section-users {
  /*background-color: #000;*/
  padding-top: 0;
}

h1, h2 {
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
}

h2:before {
  width: 80px;
  height: 28px;
  background-image: url(/images/flourish-one-horizontal.png);
  content: "";
  display: inline-block;
  background-size: contain;
  transform: scale(1, -1);
  background-repeat: no-repeat;
}

h2:after {
  width: 80px;
  height: 28px;
  background-image: url(/images/flourish-one-horizontal.png);
  content: "";
  display: inline-block;
  background-size: contain;
  transform: scale(-1, -1);
  background-repeat: no-repeat;
}

ul {
  padding: 0;
}

li {
  display: block;
  font-size: 25px;
  padding: 20px 15px;
}

.map {
  height: 400px;
  width: 100%;
  /*filter: blur(2px);*/
  max-width: 700px;
  margin: 50px auto 0;
  background-image: url(/svg/map-b.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.team {
  background-image: url(/images/team.jpg);
  height: 250px;
  background-position: center center;
  background-size: cover;
}

.users h2 {
  margin-top: 0;
  padding-top: 40px;
  background-color: #010101;
  color: aliceblue;
}

.users h2:before, .users h2:after {
  filter: invert(100%);
}

.users ul {
  padding: 28px;
  border-radius: 0 0 20px 20px;
  font-size: 18px;
  font-style: italic;
  margin: 0;
  text-align: center;
}

.users ul li {
  /*color: aliceblue;*/
}

footer {
  height: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

footer span {
  top: calc(50% - 9px);
  position: relative;
}