mixin detail(config)
    style.
        .detail .btn {
            width: 26px;
            height: 26px;
        }
        .detail {
            position: relative;
        }
        .detail h4 {
            text-align: center;
        }
        .detail .list-group-item {
            background-color: rgba(85, 85, 85, 0.35);
            border: 0;
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
        }
        .detail .list-group-item a {
            cursor: pointer;
        }
        .detail .add-button {
            position: absolute;
            right: 5px;
            padding: 0;
            margin-top: -3px;
            border-radius: 4px;
            padding-left: 2px;
            background-color: #5cb85c;
            border: 0px solid transparent;
        }
        .detail .add-button img {
            width: 26px;
        }
        .detail .edit-button {
            color: white;
            width: 26px;
            position: absolute;
            right: 35px;
            top: 8px;
        }
        .detail .delete-button {
            padding-left: 2px;
            width: 26px;
            position: absolute;
            right: 5px;
            top: 8px;
            background-color: #d9534f;
            border-radius: 4px;
        }
        .detail img {
            vertical-align: middle;
            width: 26px;
        }
        .detail .grid {
            background: #000;
            padding-left: 0;
        }

        .controll {
            margin-left: 10px;
            vertical-align: middle;
        }

        .controll select, .controll input {
            height: 25px;
            margin-left: 15px;
        }

        .controll span {
            vertical-align: middle;
        }

        .filters {
            padding: 5px;
            background-color: rgba(39, 36, 36, 0.82);
            border-radius: 5px;
        }
        .save-btn {
            right: 2px;
            position: absolute;
            margin-top: -25px;
        }

        .filters h5 {
            margin: 0;
            height: 25px;
            font-size: 20px;
            display: inline-block;
        }

        .filter {
            display: inline-block;
            width: calc(100% - 26px);
            padding: 5px 0;
        }
    .detail(ng-controller="DetailCtrl" config=config)
        .btn.add-button.svg-btn(ng-if="currentUser.CanEdit&& !cantAdd" ng-click="addEntity()") B
        h4 {{detailName}}
        .filters(ng-if="config.filters && config.showFilter" id="filter")
            //h5 Фильтры
            .filter(ng-repeat="filter in config.filters")
                div.controll
                    span {{filter.columnName}}
                    select(ng-model="filter.cond")
                        option(value="=") =
                        option(value=">=") >=
                        option(value="<=") <=
                        option(value="<") <
                        option(value=">") >
                        option(value="!=") !=
                        option(value="like") like
                    input(ng-model="filter.value")
                .btn.save-btn.svg-btn(ng-click="getEntitys()") L
        ul.grid