include styles
html(lang="ru" ng-app="skiniaWorshipApp")
    head
        title Skiniia Worship
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, maximum-scale=5.0, width=device-width")
        meta(property="og:type", content="website")
        meta(property="og:image", content=og.img)
        meta(property="og:title", content=og.title)
        meta(property="og:description", content=og.description)
        meta(name="theme-color", content="#0C0C02")
        link(rel="manifest", href="/manifest.webmanifest")
        script(src="/js/ckeditor.js?" + hash)
        script(src="/js/angular.min.js?" + hash)
        script(src="/js/main.js?" + hash)
        +style(hash)
    body(ng-controller="MainCtr")
        div.header.no-print(role="banner")
            div.logo
                a.logo-text(href="/MainSection") Skinia Worship
            div.header-menu
                div.left-container
                    div(ng-click="nemuClick()" class="left-menu")
                        .svg-btn E
                div.center-container
                    include main-menu
                div.right-container
                    search-module.search-module
        navigation-menu
            include left-menu
        .content-box(role="main", recordId=record && record.Id, entityName=record && record.entityName)
            .card-menu
                .svg-btn(ng-click="backClick()") A
                h3 {{name}}
                div.action-buttons
            block content-box
        .modal-box
