#main-menu.no-print(role="navigation")
    each item in menu
        div(ng-if="" + item.visible + "", ng-click="mainMemuItemClick('" + item.functionName + "')")
            a(href=item.href) {{#{item.name}}}
