extends ./main
include ./tile-detail
include ./detail
block content-box
    style.
        .section .detail .add-button {
            margin-bottom: -45px;
        }
    div.section(ng-controller=config.controller)
        div.section-body
        div(ng-if=config.mode === "tile")
            +tile-detail("common-detail")
        div(ng-if=config.mode === "list")
            +detail("common-detail")

