mixin style(hash)
    style.
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        body {
            min-width: 1096px;
            background: transparent url(/images/mountain.jpg?#{hash}) center no-repeat fixed;
            background-size: cover;
            margin: 0;
        }
        .section .add-button {
            margin-top: -50px !important;
        }
        .fixed {
            position: fixed;
            top: 0;
        }
        .fixed-nemu {
            position: fixed;
            top: 42px;
        }
        .header {
            min-width: 1096px;
            background-color: rgba(12, 12, 12, 0.82);
            height: 142px;
            padding-top: 1px;
            text-align: center;
            width: 100%;
            display: block;
            top: 0;
            z-index: 99;
        }
        .logo {
            margin: 22px 0 22px 0;
            font: 55px Tangerine;
        }
        .logo a {
            color: wheat;
            text-decoration: none;
        }
        .header-menu {
            height: 42px;
            z-index: 99;
            width: 100%;
            background-color: rgb(0, 0, 0);
        }

        .header .left-container {
            left: 4px;
            height: 42px;
            padding-top: 5px;
            position: absolute;
        }

        .header .left-container img {
            -webkit-filter: invert(1);
            filter: invert(1);
            width: 26px;
        }
        #main-menu {
            vertical-align: middle;
        }
        #main-menu div {
            text-align: center;
            font-size: 20px;
            cursor: pointer;
            display: inline-block;
        }
        #main-menu div a {
            padding-top: 10px;
            text-align: left;
            height: 30px;
            display: inline-block;
            margin-right: 30px;
            color: wheat;
            text-decoration: none;
            font-style: italic;
        }
        .content-box {
            max-width: 1000px;
            margin: 0 auto 0;
            display: block;
            background-color: rgba(42, 32, 65, 0.38);
            padding: 10px;
            color: #ffffff;
            min-height: calc(100% - 142px);
        }

        .card-menu {
            margin-bottom: 10px;
            margin-top: 20px;
        }

        .card-menu img {
            cursor: pointer;
            width: 26px;
            vertical-align: top;
        }

        .card-menu h3 {
            text-align: center;
            display: inline-block;
            width: calc(100% - 60px);
            margin: 0;
        }
        .left-menu {
            display: none;
        }

        @media only screen and (max-device-width: 480px) {
            body {
                min-width: 100%;
            }
            .header {
                min-width: 100px;
            }
            .center-container {
                width: 50%;
            }
            #main-menu {
                display: none;
            }
            .left-menu {
                display: block;
                padding: 3px;
            }
            .content-box {
                max-width: 100%;
                margin-left: 5px;
                margin-right: 5px;
                display: block;
            }
        }

        .group-item {
            display: block;
            text-align: center;
            height: 140px;
            margin-bottom: 30px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        }

        @font-face {
            font-family: 'skiniiaworship';
            src: url('../fonts/skiniiaworship.woff?#{hash}') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Tangerine';
            font-style: normal;
            font-weight: 400;
            src: local('Tangerine Regular'), local('Tangerine-Regular'), url(https://fonts.gstatic.com/s/tangerine/v8/HGfsyCL5WASpHOFnouG-RFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
        }

        .svg-btn {
            font-family: skiniiaworship;
            color: white;
            display: inline-block;
            font-size: 20px;
            vertical-align: middle;
            cursor: pointer;
        }

        .sheduler-page .grid {
            overflow-y: scroll;
        }

        .sheduler-page .grid a {
            width: 160px;
            display: inline-block;
        }

        .sheduler-page .grid li {
            min-width: max-content;
            padding: 0 15px;
        }

        .sheduler-page .grid li:nth-child(1) {
            color: #f5dfb3;
            font-size: 18px;
        }

        .sheduler-page .grid li:nth-child(1) .sh-ivent {
            background: transparent;
            border: none;
            text-align: center;
        }

        .sh-ivent {
            min-width: 126px;
            display: inline-block;
            background: black;
            padding: 8px;
            border: 1px solid;
        }

        .sh-empty {
            height: 26px;
            display: inline-block;
            vertical-align: middle;
        }

