mixin tile-detail(config)
    style.
        .tile-detail {
            position: relative;
        }
        .tile-detail .btn {
            width: 26px;
            height: 26px;
            position: absolute;
            right: 0;
            z-index: 10;
            border-radius: 4px;
        }

        .tile-detail-menu .btns {
            position: relative;
            right: 4px;
        }

        .tile-detail-menu .btns .add-btn {
            background-color: #5cb85c;
            right: 0px;
            margin-top: -35px;
            padding-left: 2px;
        }

        .tile-detail-menu h3 {
            text-align: center;
        }

        .tile-detail .rows .row {
            display: block;
            text-align: center;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            min-height: 1px;
            margin-right: 15px;
            margin-left: 15px;
            height: 140px;
            margin-bottom: 30px;
            position: relative;
            background-position: center;
            background-color: #888;
        }

        .group-item {
            display: block;
            text-align: center;
            height: 140px;
            margin-bottom: 30px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        }

        .tile-detail .rows .delete-btn {
            background-color: red;
            padding-right: 3px;
        }

        .tile-detail .rows .edit-btn {
            bottom: 0;
            color: white;
        }

        .tile-detail .rows .back {
            width: 100%;
            height: 100%;
        }

        .tile-detail h4 {
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            text-shadow: 0px 0px 10px black;
            bottom: 0px;
            position: absolute;
            padding: 10px 0 10px !important;
            width: 100%;
            margin: 0;
        }



        @media (min-width: 992px) {
            .tile-detail .rows .row {
                float: left;
                width: calc(50% - 30px);
            }
        }

        .controll {
            margin-left: 10px;
            vertical-align: middle;
        }

        .controll select, .controll input {
            height: 25px;
            margin-left: 15px;
        }

        .controll span {
            vertical-align: middle;
        }

        .filters {
            padding: 5px;
            background-color: rgba(39, 36, 36, 0.82);
            border-radius: 5px;
            margin-bottom: 15px;
        }

        .save-btn {
            right: 2px;
            position: absolute;
            margin-top: -25px;
        }

        .filters h5 {
            margin: 0;
            height: 25px;
            font-size: 20px;
            display: inline-block;
        }

        .filter {
            display: inline-block;
            width: calc(100% - 26px);
            padding: 5px 0;
        }
    .tile-detail(ng-controller="TileDetailCtr" config=config)
        div.tile-detail-menu
            div.btns
                .btn.add-btn.svg-btn(ng-if="currentUser.CanEdit&& !cantAdd" ng-click="addEntity()") B
        h3 {{detailName}}
        .filters(ng-if="config.filters && config.showFilter")
            //h5 Фильтры
            .filter(ng-repeat="filter in config.filters")
                div.controll
                    span {{filter.columnName}}
                    select(ng-model="filter.cond")
                        option(value="=") =
                        option(value=">=") >=
                        option(value="<=") <=
                        option(value="<") <
                        option(value=">") >
                        option(value="!=") !=
                        option(value="like") like
                    input(ng-model="filter.value")
                .btn.save-btn.svg-btn(ng-click="getEntitys()") L
        .grid.rows
            div.row(ng-repeat="entity in entitys" ng-click="selectEntity(entity)")
                .btn.delete-btn.svg-btn(ng-if="currentUser.CanEdit&& !cantDelete" ng-click="deleteEntity(entity, $event)" alt="Delete entity") D
                img.back(ng-if="!!entity.ImageUrl" ng-src="{{entity.ImageUrl}}", alt="entity")
                h4 {{entity.Name}}
                .btn.edit-btn.svg-btn(ng-if="currentUser.CanEdit && !cantEdit" ng-click="editEntity(entity, $event)" alt="Edit entity") C
