#menu.no-print.menu-items(ng-show="showMenu", role="navigation" )
    ul.list-group
        each item in menu
            li.list-group-item.menu-item(ng-if="" + item.visible + "", ng-click="mainMemuItemClick('" + item.functionName + "')")
                .svg-btn(ng-if=!item.imageUrl) #{item.imageUrl}
                a(href=item.href) {{#{item.name}}}