navigation-menu {
  width: 100%;
  position: absolute;
  z-index: 999;
  background: #EAEAEA;
  display: none;
}
@media only screen and (max-device-width: 480px) {
  navigation-menu {
    display: inherit;
  }
}
.menu-items {
  width: 100%;
  background-color: antiquewhite;
  height: 100vh;
}
.list-group {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 10px;
  background: wheat;
}
.menu-item {
  font-size: 16px;
  cursor: pointer;
  background-color: antiquewhite;
  text-transform: uppercase;
  text-align: left;

}
.menu-item a {
  text-decoration: none;
  vertical-align: middle;
  margin-left: 5px;
  color: #333333;
}
.menu-item .svg-btn {
  color: #9C27B0;
}
#menu .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: left;
}